.heroSection {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-image: url('/hero_1x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  align-items: start;
  padding: 0 16px;
}

.heroTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 0.66667;
  color: #f7f7f7;
  margin-top: 60px;
  margin-bottom: 8px;
  text-align: start;
}

.heroDesc {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.33333;
  color: #f7f7f7;
  margin-bottom: 20px;
}

.ButtonRed {
  display: flex;
  border-radius: 200px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 28px;

  background: #e44848;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;

  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 40px;
}
.ButtonRed:hover,
.ButtonRed:focus {
  background-color: #d84343;
}

@media screen and (min-width: 768px) {
  .heroSection {
    width: 100%;
    max-width: 768px;

    padding: 0 64px;
  }

  .heroTitle {
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 16px;
  }

  .heroDesc {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .ButtonRed {
    width: 173px;
    height: 56px;
    font-size: 16px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .heroSection {
    max-width: 1440px;
    padding: 0 64px;
  }

  .heroTitle {
    margin-top: 260px;
  }

  .ButtonRed {
    margin-bottom: 276px;
  }
}
